<div class="orderInfo">
  <mat-card class="orderInfoCard">
    <mat-card-header>
      <mat-card-title>Order</mat-card-title>
      <mat-icon *ngIf="isDelivered" class="doneIcon">done</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <mat-divider>
        Store
      </mat-divider>
      <div>
        <span class="iconText">
          <mat-icon class="iconRightPadding">location_on</mat-icon>
          <span>store coordinates: {{order.storeLocation.lat}}, {{order.storeLocation.lng}}</span>
        </span>
      </div>
      <div>
        <span class="iconText">
          <mat-icon class="iconRightPadding">dialpad</mat-icon>
          <span>pickup code: 8596749338</span>
        </span>
      </div>
      <mat-divider>
        Customer
      </mat-divider>
      <div>
        <span class="iconText">
          <mat-icon class="iconRightPadding">location_on</mat-icon>
          <span>delivery coordinates: {{order.customer.deliveryLocation.lat}},
            {{order.customer.deliveryLocation.lng}}</span>
        </span>
      </div>
      <div>
        <span class="iconText">
          <mat-icon class="iconRightPadding">call</mat-icon>
          <span>phone: {{order.customer.phone}}</span>
        </span>
      </div>
      <div #gmap style="width:100%;height:300px"></div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!accepted" mat-button (click)="accept()">
        Accept
      </button>

      <button *ngIf="accepted && !isDelivered" mat-raised-button class="deliveredButton" (click)="delivered()">
        Delivered
        <mat-icon>check_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>