.customerInfoCard {
    max-width: 600px;
    min-width: 400px;
    padding: 50px;
}

.customerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iconText {
    display: inline-flex;
    vertical-align: middle;
}

.titleIcon {
    padding-right: 10px;
}